<section class="section-padding" id="home">
    <div class="row">
        <div class="col-md-6">
            <h3>Seja bem vindo! Eu sou</h3>
            <h1>Thiago Dias</h1>
            <h2> > Desenvolvedor full-stack</h2>
            <div class="mt-5">
                <p class="commented">// meu e-mail</p>
                <p class="text-lilac">const <span class="text-green">meuEmail</span> <span class="text-lilac fw-5"> = </span> <a class="text-decoration-none text-orange " href="mailto:thiagodiasz@outlook.com" target="_blank">"thiagodiasz&#64;outlook.com"</a></p>
            </div>
            <div class="mt-5">
                <p class="commented">// você pode também conferir meu GitHub</p>
                <p class="text-lilac">const <span class="text-green">gitHubLink</span> <span class="text-lilac fw-5"> = </span> <a class="text-decoration-none text-orange " href="https://github.com/thiagodiasz" target="_blank">"https://github.com/thiagodiasz"</a></p>
            </div>
            <div class="mt-5">
                <p class="commented">// meu e-mail</p>
                <p class="text-lilac">const <span class="text-green">linkedinLink</span> <span class="text-lilac fw-5"> = </span> <a class="text-decoration-none text-orange " href="https://www.linkedin.com/in/thiagodiasz/" target="_blank">"https://www.linkedin.com/in/thiagodiasz/"</a></p>
            </div>
        </div>
        <div class="col-md-6">
            teste
        </div>
    </div>
</section>